
a {
    text-decoration: inherit;
}

.card a:hover{
    color: #d34836;
}

.cardContainer{
    margin-top: 15px;
}

.card{
    margin-top: 15px;
} 

.fa-pencil-alt{
    align-items: flex-end;
    color: #042a6b;
}
.fa-pencil-alt:hover{
    align-items: flex-end;
    color: black;
}


